body{
  font-family: 'Quicksand', sans-serif;
}

input{
  outline: none;
  border: none;
  font-size: 20px;
}

i{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
}

a{
  text-decoration: none;
}

/* D3 Styles */

.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}

.tick
{
    stroke-dasharray: 1, 2;
}

.bar
{
    fill: FireBrick;
}

#visualisation{
  margin-top: 20px;
  width: 90%;
  max-width: 900px;
}

.chartform{
  width: 200px;
  height: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 1s;
}

.chartform:hover{
  width: 200px;
  height: 75px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: .5s;
}

.chartbutton ~ * {
  display: none;
  transition: 1s;
}

.chartbutton:hover ~ * {
  display: inline-block;
  transition: .5s;
}

.chartform:hover > * {
  display: inline-block;
  transition: .5s;
}

.chartbutton{
  width: 100%;
  border: none;
  background-color: #7a9e9f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  transition: 1s;
}

.chartbutton:hover{
  background-color: #4f6367;
  transition: .5s;
}

.chartbutton:active{
  background-color: #344144;
  transition: .1s;
}

/* Social Icons */
.github-gray{
  background-color: rgba(34, 30, 27, 0.69);
  transition: 1s;
}

.github-gray:hover{
  background-color: #221e1b;
  transition: .5s;
}

.facebook-blue{
  background-color: rgba(62, 91, 152, 0.55);
  transition: 1s;
}

.facebook-blue:hover{
  background-color: #3e5b98;
  transition: .5s;
}

.google-red{
  background-color: rgba(221, 75, 57, 0.52);
  transition: 1s;
}

.google-red:hover{
  background-color: #dd4b39;
  transition: .5s;
}

.inputcontainer{
  width: 90%;
  height: 35px;
  padding: 0px 0px 5px 5px;
  border-radius: 50px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.inputicon{
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

.logininput{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -10px;
  width: 215px;
}

.error-message{
  background-color: rgb(226, 76, 76);
  color: white;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: -2px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.btn-ghost{
  color: white;
  border-radius: 20px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.38);
  padding: 5px 20px 5px 20px;
  font-size: 14px;
  margin-top: 20px;
  transition: 1s;
  outline: none;
}

.btn-ghost:hover{
  border: 1px solid white;
  transition: .5s;
  outline: none;
}

.nav-header{
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 100;
}

.blood-orange-b{
  background-color: #fe5f55;
}

.slate-blue-b{
  background-color: #4f6367
}

.slate-blue-t{
  color: #4f6367
}

.logo-button{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 20px;
  margin-top: 5px;
}

.patient-menu{
  position: fixed;
  right: -250px;
  margin-top: -15px;
  height: 100vh;
  width: 250px;
  background-color: #4f6367;
  transition: 1s;
  z-index: 10;
}

#patient:hover ~ .patient-menu {
  right: 0px;
  transition: 1s;
}

.user-menu{
  position: fixed;
  left: -250px;
  margin-top: -15px;
  height: 100vh;
  width: 250px;
  background-color: #4f6367;
  transition: 1s;
  z-index: 10;
}

.fadeoutblack{
  position: fixed;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  transition: .5s;
  background-color: rgba(0, 0, 0, 0);
  margin-top: -15px;
  z-index: 1;
}

.fadeoutblackleft{
  position: fixed;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  transition: .5s;
  background-color: rgba(0, 0, 0, 0);
  margin-top: -15px;
  z-index: 1;
}

#patient:hover ~ .fadeoutblackleft {
  left: 0px;
  transition: .5s;
  background-color: rgba(0, 0, 0, 0.64);
}

#patientmenu:hover ~ .fadeoutblackleft {
  background-color: rgba(0, 0, 0, 0.64);
  left: 0px;
  transition: .5s;
}

#user:hover ~ .user-menu {
  left: 0px;
  transition: 1s;
}

#user:hover ~ .fadeoutblack {
  background-color: rgba(0, 0, 0, 0.64);
  right: 0px;
  transition: .5s;
}

#usermenu:hover ~ .fadeoutblack {
  background-color: rgba(0, 0, 0, 0.64);
  right: 0px;
  transition: .5s;
}

.user-menu:hover{
  left: 0px;
  transition: 1s;
}

.patient-menu:hover{
  right: 0px;
  transition: 1s;
}

.inline{
  display: inline-block;
}

.whiteish-t{
  color: #eef5ed;
}

.whiteish-b{
  background-color: #eef5ed;
}

.profile-header{
  height: 110px;
  font-weight: normal;
  background: none;
  background: auto;
  text-align: right;
  padding-right: 20px;
}

.user-header{
  height: 110px;
  font-weight: normal;
  background: none;
  background: auto;
  text-align: right;
  padding-right: 20px;
}

.offwhite-b{
  background-color: #EEF5DB;
}

.offwhite-g{
  background: linear-gradient(90deg, #EEF5DB, #e6f4c3 )
}

.petname{
  margin-top: 20px;
  font-size: 18px;
}

.username{
  margin-top: 20px;
  font-size: 16px;
}



.ownername{
  margin-top: 5px;
  font-size: 15px;
  font-style: italic;
}

.breed{
  margin-top: 5px;
  font-size: 11px;
}

.role{
  margin-top: 5px;
  font-size: 11px;
}

.menuitem{
  margin-left: 20px;
}

.menuitem-container{
  margin-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid #b8d8d8;
  background-color: hsla(138, 95%, 52%, 0);
  transition: 2s;
  cursor: pointer;
}

.menuitem-container:hover{
  transition: 1s;
  background-color: #7a9e9f;
}

.menuicon{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: -12px;
  margin-top: -5px;
}

.patient-avatar{
  margin-top: 20px;
  margin-left: 10px;
  transition: .5s;
  display: inline-block;
  float: left;
  width: 77px;
  height: 77px;
  border-radius: 40px;
}

.user-avatar{
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50px;
  transition: .5s;
  display: inline-block;
  float: left;
  width: 70px;
  height: 70px;
}

.patient-avatar:hover{
  width: 75px;
  height: 75px;
  transition: .5s;
}

.user-avatar:hover{
  width: 75px;
  height: 75px;
  transition: .5s;
}

.central{
  font-size: 35px;
  -webkit-margin-before: 0em !important;
  -webkit-margin-after: 0em !important;
  padding-bottom: 10px;
}

.menu-button{
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.loginContainer{
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  text-align: center;
  background: linear-gradient(90deg, #7a9e9f, #627c7d )
}

.loginBox{
  width: 300px;
  height: 500px;
  display: inline-block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.loginSubBox{
  width: 100%;
  height: 200px;
  padding-top: 20px;
  background-color: #eef5ed;
  border: 1px solid rgba(#edf5ec, 0.78);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.box-header{
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.social-container{
  margin-top: 40px;
  width: 100%;
  color: rgba(#edf5ec, 0.78) !important;
}

.btn-login{
  width: 100%;
  height: 40px;
  margin-top: 31px;
  bottom: 0px;
  background-color: #4f6367;
  color: #eef5ed;
  font-size: 25px;
  padding-top: 10px;
  line-height: 31px;
  transition: 1s;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-login:hover{
  background-color: #3b484b;
  transition: .5s;
}

/*Patient Selection*/
.patient-container{
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  text-align: center;
  margin-bottom: 100px;
}

.patient-box{
  width: 250px;
  height: 300px;
  background-color: #eef5ed;
  border: 1px solid rgba(171, 171, 171, 0.71);
  border-radius: 5px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  transition: 1s;
  position: relative;
  z-index: 5;
}

.patient-box:hover{
  background-color: #cfd5cf;
  transition: .5s;
}

.patient-box-header{
  width: 100%;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  z-index: -100;
  -webkit-filter: brightness(0.5) blur(5px);
}

.patient-box-menu-header{
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: -100;
  -webkit-filter: brightness(0.5) blur(5px);
}

.patient-box-avatar{
  margin-top: 10px;
  margin-left: 10px;
  transition: .5s;
  display: inline-block;
  float: left;
  width: 77px;
  height: 77px;
  border-radius: 50px;
  position: relative;
  z-index: 5;
}

.patient-box-name{
  display: inline-block;
  margin-top: 10%;
  margin-left: 10px;
  color: white;
  font-size: 20px;
  position: relative;
  z-index: 100;
}

.info-bar{
  margin-top:40px;
  height: 60px;
  border-bottom: 1px solid rgba(212, 212, 212, 0.76);
}

.species-icon{
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.patient-box-deets{
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
  text-align: left;
}

.deets-row{
  width: 100%;
  height: 20px;
  text-align: left;
  font-size: 12px;
}

.float-right{
  float: right;
}

.margin-right{
  margin-right: 10px;
}

.patient-box-bottom{
  width: 100%;
  text-align: left;
  display: inline-block;
}

.patient-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: none;
  border: none;
  color: white;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  float: right;
  outline: none;
}

.camera-button{
  margin-top: 10px;
  float: left;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  background-color: rgba(32, 157, 182, 0);
  border-radius: 25px;
}


.camera-button-img{
  margin-top: 5px;
  height: 25px;
  width: 25px;
}
.custom-file-input{
  font-size: 9px;
}

.custom-file-input::-webkit-file-upload-button {
  font-size: 10px;
  visibility: hidden;
}
.custom-file-input::before {
  content: '';
  display: inline-block;
  /*background: url('static/camera.png');*/
  background-size: 20px 20px;
  background-repeat: no-repeat;
  border: 1px solid white;
  border-radius: 50px;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10px;
}
.custom-file-input:hover::before {
  border: 2px solid white;
}
.custom-file-input:active::before {
  background: rgba(195, 152, 165, 0);
}

.patient-box-header-new{
  width: 100%;
  height: 100px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Vet History */
.row{
  width: 100%;
  height: auto;
  text-align: center;
}

.row-spacer{
  width: 100%;
  height: 100px;
}
.record-box{
  display: inline-block;
  height: 100px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  transition: 1s;
}

.record-box:hover{
  display: inline-block;
  height: 400px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.65);
  border: 1px solid gray;
  border-radius: 5px;
  transition: .5s;

}

.record-header{
  font-size: 20px;
}

.record-submit{
  border-radius: 20px;
  border: none;
  outline: none;
  height: 40px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #7a9e9f;
  color: white;
}

.record-submit:hover{
  background-color: #598f90;
}
/* Medication */
.medication-box{
  display: inline-block;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgba(75, 75, 75, 0.67);
  color: white;
}

.medication-box-row{
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.left{
  text-align: left;
}

.margin-bumper-left{
  margin-left: 10px;
}

.med-frequency{
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px;
  border-radius: 50px;
  background-color: #7a9e9f;
  cursor: pointer;
}

.med-frequency-active{
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 5px;
  border-radius: 50px;
  background-color: #dd4b39;
  cursor: pointer;
  transition: 1s;
}

.med-frequency:hover{
  background-color: #4f6367;
  color: white;
  transition: .5s;
}
