<div style="display: inline-block; width: 100%">

<div style="text-align: center">
  <h1 style="margin-top: 50px;">{{current}}</h1>
  <svg id="visualisation" viewBox="0 0 1000 525" preserveAspectRatio></svg>
</br>
<div class="chartform inline slate-blue-b whiteish-t">
  <button class="chartbutton" ng-click="heartChart()">Heart Rate</button>
  <form ng-submit="addHeartReading()">
    <input ng-model="newHeart" type="text" style="width: 175px; color: black; margin-left: 10px; margin-top: 10px" placeholder="New Reading"/>
  </form>
</div>
<div class="chartform inline slate-blue-b whiteish-t">
  <button class="chartbutton" ng-click="breathChart()">Respiration</button>
  <form ng-submit="addBreathReading()">
    <input ng-model="newBreath" type="text" style="width: 175px; color: black; margin-left: 10px; margin-top: 10px" placeholder="New Reading"/>
  </form>
</div>
<div class="chartform inline slate-blue-b whiteish-t">
  <button class="chartbutton" ng-click="tempChart()">Temperature</button>
  <form ng-submit="addTempReading()">
    <input ng-model="newTemp" type="text" style="width: 175px; color: black; margin-left: 10px; margin-top: 10px" placeholder="New Reading"/>
  </form>
</div>


</div>
</div>
